*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    padding: 20px;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 200px) ;
    grid-auto-rows: 200px;
    gap: 20px;
   align-content: center;
   justify-content: center;
}
@media (width<=900) {
    .parent{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
.child{
   
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;

}