*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    display: grid;
    grid-template-columns: repeat(8, 200px);
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;

    
}
.child{
    background-color: rgb(24, 221, 24);
    border: 1 solid black;
    border-radius: 10px;
    height: 200px;
}


    .c1{
        grid-column-start:1; 
        grid-column-end:3 ;
    }
    .c2{
        grid-column-start:4; 
        grid-column-end:6 ;
    }

    .c3{
        grid-column-start:7; 
        grid-column-end:9 ;

    }

    .c4{
        grid-row: 2;
        grid-column: 2/4;
    }

    .c5{
        grid-row: 2;
        grid-column: 5/7;
    }
    .c6{
        grid-row: 3;
        grid-column: 1/3;
    }
    .c7{
        grid-row: 3;
        grid-column: 4/6;
    }
    .c8{
        grid-row: 3;
        grid-column: 7/9;
    }

.c9{
        grid-row: 4;
        grid-column-start:1; 
        grid-column-end:3 ;
    }
    .c10{
        grid-row: 4;
        grid-column-start:4; 
        grid-column-end:6 ;
    }
    .c11{
        grid-row:4 ;
        grid-column-start:7; 
        grid-column-end:9;
    }
    
