*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 100px;
    width: 100px;
    background-color: green;
    animation: rotateBox 4s  linear infinite ;
}


@keyframes rotateBox{

0%{
    rotate: 0deg;
    background-color: green;
}
100%{
    rotate: 360deg;
    background-color: blue;
}
}